<!DOCTYPE html>
<html lang="en">
<head>
    <title>Servidor Javier</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">


  <h2>Servidor de gestión de la BBDD.</h2>
	<h3 id="bienvenidaHome">La aplicación está funcionando.</h3>

</div>
</body>
</html>
